*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
head {
	display: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

html,
body {
	height: 100%;
	line-height: 1;
	font-size: 16px;
	color: #fafafa;
	font-weight: 500;
	font-family: Montserrat Alternates;
	text-decoration: none;
	list-style-type: none;
	background: #fff;
	transition: background-color all 0.3s ease 0s;
	width: 100%;
	scroll-behavior: smooth;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._container {
	max-width: 1440px;
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
._ibg {
	position: relative;
}
._ibg img {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
	max-height: 100%;
	min-height: 50%;
}
/*----ШАПКА--------------------------------------------------------------------------------------------*/
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 104px;
	align-items: center;
}
.main-block__image img {
	position: absolute;
	top: 0;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

@media (max-width: 479px) {
	.header__container {
		min-height: 70px;
	}
}
.header__logo {
	margin-top: 20px;
}
.header__logo img {
	margin-top: 10px;
	height: 100px;
}

@media (max-width: 1120px) {
	.header__menu {
		margin: 0px 0px 0px 80px;
	}
}

.menu__list {
	flex-wrap: wrap;
	display: flex;
}
.menu__item {
	list-style-type: none;
}
.menu__item:not(:last-child) {
	margin: 0px 21px 0px 0px;
}

.menu__link {
	line-height: 171%;
	text-decoration: none;
	font-weight: 500;
	font-size: 19px;
	color: #fffefe;
}
.number__header {
	position: absolute;
	right: 10px;
}
.number__content {
	position: relative;
	display: grid;
}
.number__title {
	color: #242424;
	font-size: 20px;
	font-weight: 800;
	line-height: normal;
	text-decoration: none;
	font-family: 'Jura', sans-serif;
}
.number__text {
	color: #242424;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	font-family: 'Montserrat Alternates', sans-serif;
	background-color: #eef1f4;
	border-radius: 8px;
	padding: 3px 0px;
	transition: 0.2s;
	margin-top: 2px;
}
.number__text:hover {
	background-color: #242424;
	color: #eef1f4;
}
@media (max-width: 1300px) {
	.number__header {
		position: absolute;
	}

	.number__title {
		color: #242424;
		font-size: 18px;
		font-weight: 700;
		line-height: normal;
		text-decoration: none;
	}
	.number__text {
		font-size: 14px;
		font-style: normal;
		line-height: normal;
		letter-spacing: 1px;
	}
}
@media (max-width: 1180px) {
	.number__header {
		position: absolute;
	}
}

@media (max-width: 1176px) {
	.number__header {
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.burger-menu {
	display: none;
}
.burger-menu_button {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 30;
	width: 70px;
	height: 70px;
	border-radius: 15px;
	background-color: #242424;
	border: 1px solid #eef1f4;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.2s;
	cursor: pointer;
}

.burger-menu_lines::before,
.burger-menu_lines::after,
.burger-menu_lines {
	position: absolute;
	width: 50px;
	height: 3px;
	background-color: #eef1f4;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
	border-radius: 100px;
	right: 0;
}
.burger-menu_lines::after {
	width: 30px;
}
.burger-menu_lines {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.burger-menu_lines::before {
	content: '';
	top: -12px;
}
.burger-menu_lines::after {
	content: '';
	top: 12px;
}
.burger-menu_active .burger-menu_lines {
	background-color: transparent;
}
.burger-menu_active .burger-menu_lines::before {
	top: 0;
	transform: rotate(45deg);
}
.burger-menu_active .burger-menu_lines::after {
	top: 0;
	transform: rotate(-45deg);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
	transition: margin-left 0.5s;
	padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
/* @media (max-width:1168px) {
    .menu__link{
        margin-right: fpx;
    }} */
@media (max-width: 1120px) {
	.menu__link {
		font-size: 17px;
	}
}
@media (max-width: 1176px) {
	.menu__link {
		display: none;
	}
	.header__logo {
		font-size: 30px;
		padding-top: 80px;
		font-weight: 800;
	}
	.burger-menu {
		display: block;
	}
	.number__header {
		position: absolute;
	}
	.number__text {
		font-size: 18px;
	}
	.number__title {
		font-size: 22px;
	}
	.number__content {
		position: absolute;
		padding: 0px 0px 30px 15px;
		left: 0;
	}
	.number__content-index {
		position: absolute;
		padding: 0px 0px 100px 15px;
		left: 0;
	}
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}
@media (max-width: 648px) {
	.header__logo {
		position: absolute;
		left: 50%;
		top: 80%;
		transform: translate(-50%, -50%);
		font-size: 25px;
		font-weight: 800;
	}
	.number__text {
		font-size: 18px;
	}
	.number__title {
		font-size: 22px;
	}
	.number__content {
		position: absolute;
		padding: 0px 0px 30px 15px;
		left: 0;
	}
}
.menu__link:hover {
	text-decoration: underline;
}

._number {
	font-weight: 500;
	font-size: 20px;
}
/* Кнопка выпадающего списка */
.dropbtn {
	border: none;
}
.dropbtn::after {
	content: '↓';
}

/* Контейнер <div> - необходим для размещения выпадающего содержимого */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	border-radius: 10px;
}

/* Ссылки внутри выпадающего списка */
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content a:hover {
	background-color: #ddd;
	border-radius: 10px;
}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Изменение цвета фона кнопки раскрывающегося списка при отображении содержимого раскрывающегося списка */
/*-------МЕНЮ------------------------------------------------------------------------------------*/
.page {
	flex: 1 1 auto;
}

.page__services {
	margin: 70px 0px 0px 0px;
	position: relative;
	z-index: 2;
}
@media (max-width: 992px) {
	.page__services {
		margin: 40px 0px 0px 0px;
	}
}
@media (max-width: 767px) {
	.page__services {
		margin: -80px 0px 0px 0px;
	}
}
@media (max-width: 480px) {
	.page__services {
		margin: -140px 0px 0px 0px;
	}
}
@media (max-width: 382px) {
	.page__services {
		margin: -140px 0px 0px 0px;
	}
}

.page_clients:not(:last-child) {
	margin: 0px 0px 10px 0px;
}

/*-------HEADER-BLOCK-----------------------------------------------------------------------------------*/

.header-block {
	display: flex;
	align-items: center;

	justify-content: space-between;
}
.services_button {
	display: flex;
	color: rgb(0, 213, 0);
	font-size: 17px;
	text-decoration: none;

	cursor: pointer;
	transition: 0.2s;
	cursor: pointer;
	font-family: 'Unbounded', sans-serif;
}
.services_button:hover {
	color: #eef1f4;
	background-color: #242424;
}
.header-block__title {
	font-size: 40px;
	line-height: 142%;
	font-weight: 700;
}
.header-block__title :not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.header-block__sub-title {
	line-height: 142%;
	color: #737373;
}
@media (max-width: 992px) {
	.header-block__title {
		font-size: 30px;
	}
}
@media (max-width: 767px) {
	.header-block__title {
		font-size: 30px;
		margin-bottom: -40px;
	}
	.header-block {
		flex-direction: column;
	}
	.services_button {
		margin-bottom: 30px;
	}
}

/*-------ПОДВАЛ------------------------------------------------------------------------------------*/

/*-------MAIN-BLOCK------------------------------------------------------------------------------------*/

.main-block {
	position: relative;
}

.main-block__body {
	padding: 240px 0px 191px 0px;
	position: relative;
	z-index: 2;
	max-width: 1000px;
}
@media (max-width: 992px) {
	.main-block__body {
		padding: 240px 0px 191px 0px;
	}
}

@media (max-width: 479px) {
}
@media (max-width: 300px) {
}
.main-block__body > *:not(:last-child) {
	margin: 0px 0px 20px 0px;
}

.main-block__title {
	color: #242424;
	font-size: 69px;
	line-height: 100%;
	font-weight: 600;
	letter-spacing: 0.2px;
	font-family: 'Unbounded', sans-serif;
}
@media (max-width: 782px) {
	.main-block__title {
		font-size: 40px;
	}
}

.main-block__text {
	color: #242424;
	font-weight: 400;
	font-size: 25px;
	line-height: 150%;
}
@media (max-width: 479px) {
	.main-block__text {
		font-size: 17px;
		font-weight: 400;
	}
	.main-block__title {
		font-size: 25px;
	}
}

.main-block__buttons {
	display: flex;
	flex-wrap: wrap;
}

.main-block__button {
	border-radius: 37px;
	display: flex;
	min-height: 48px;
	justify-content: center;
	align-items: center;
	letter-spacing: 0.2px;
	font-weight: 700;
	line-height: 150%;
	padding: 5px 36px;
	text-decoration: inherit;
	text-align: center;
	margin: 10px 0;
	font-family: 'Unbounded', sans-serif;
}

@media (max-width: 479px) {
	.main-block__button {
		padding: 2px 30px;
	}
	.main-block__body {
		padding: 200px 0px 210px 0px;
	}
	.burger-menu_button {
		position: fixed;
		top: 10px;
		right: 10px;
		z-index: 30;
		width: 60px;
		height: 60px;
	}
	.burger-menu_lines::before,
	.burger-menu_lines::after,
	.burger-menu_lines {
		position: absolute;
		width: 35px;
		height: 3px;

		-webkit-transition: 0.4s;
		-moz-transition: 0.4s;
		-o-transition: 0.4s;
		transition: 0.4s;
	}
	.burger-menu_lines::after {
		width: 20px;
	}
}

@media (min-width: 479px) {
	.main-block__button:not(:last-child) {
		margin-right: 10px;
	}
}

.main-block__image {
	background: #000;
	position: absolute;
	left: 0;
	top: 0;
	object-fit: cover;
	width: 100%;
	min-height: 100%;
}

@media (max-width: 1300px) {
	.main-block__image img {
		object-position: 70%;
	}
}

@media (max-width: 767px) {
	.main-block__body {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
	}
	.main-block__button {
		margin-left: auto;
		margin-right: auto;
		width: 250px;
	}
	.main-block__image {
		min-height: 80%;
	}
}

@media (max-width: 479px) {
	.number__header {
		text-align: center;
	}
	.header__logo {
		position: absolute;
		left: 50%;
		top: 60%;
		transform: translate(-50%, -50%);
		font-size: 25px;
		font-weight: 800;
	}
	.main-block__image img {
		object-position: 70%;
	}
	.main-block__image {
		min-height: 70%;
	}
	.main-block__button_orange {
		padding: 15px 10px;
	}
	.main-block__body > *:not(:last-child) {
		margin: 0px 0px 10px 0px;
	}
	.number__text {
		font-size: 16px;
	}
	.number__title {
		font-size: 16px;
	}
	.number__content {
		position: absolute;
		font-size: 10px;
		padding: 0px 0px 0px 15px;
		left: 50%;
		top: 10%;
		transform: translate(-50%, -50%);
	}
}
/*-------------------------------------------------------------------------------------------*/

.header-block__title {
	color: #242424;
	letter-spacing: 1px;
	padding: 0px 0px 57px 0px;
	font-size: 76px;
	font-weight: 700;
	line-height: 100%;
	font-family: 'Unbounded', sans-serif;
}
@media (max-width: 1177px) {
	.activies-title__large {
		text-align: center;
		font-size: 40px;
	}
}
@media (max-width: 992px) {
	.header-block__title {
		text-align: center;
		font-size: 50px;
	}
	.video__tour-title {
		text-align: center;
		font-size: 50px;
	}
	.activies-title {
		text-align: center;
		font-size: 50px;
	}
}

@media (max-width: 382px) {
	.header-block__title {
		font-size: 30px;
	}
	.video__tour-title {
		font-size: 30px;
	}
	.activies-title {
		font-size: 30px;
	}
}

/* .services__column{
    flex: 0 1 33.333%;
    margin: 0px 0px 30px 0px;
} */
.services__body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.services__column {
	width: 100%;
	height: 100%;
	overflow: hidden;
	overflow-x: scroll;
	white-space: nowrap;
}

.services__item {
	display: inline-block;

	vertical-align: top;
	width: 200px;
	height: 300px;
	background: red;
	border-radius: 30px;
}

@media (min-width: 670px) {
	.services__column {
		padding: 0px 10px;
	}
}

.services__item {
	position: relative;
	box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
	border-radius: 30px;
	width: 100%;
	height: 100%;
}

@media (max-width: 668px) {
	.services__item {
		position: relative;
		box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
		border-radius: 30px;
		width: 350px;
		height: 100%;
		margin: 0 auto;
	}
}
@media (max-width: 430px) {
	.services__item {
		position: relative;
		box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
		border-radius: 30px;
		width: 80%;
		height: 100%;
	}
}

.item-service > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.item-service__icon {
	position: relative;
	background: #000;
	border-radius: 20px 20px 20px 20px;
}
.item-service__icon img {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 20px 20px 20px 20px;
	object-fit: cover;
	top: 0;
	left: 0;
	opacity: 0.75;
	transition: 0.3s;
}
.item-service__icon img:hover {
	opacity: 0.6;
}
.item-service__icon:hover .item-service__phone {
	opacity: 1;
}
.item-service__icon .item-service__phone {
	height: 70px;
	width: 70px;
	position: absolute;
	left: 10px;
	top: 10px;
	z-index: 3;
	overflow: hidden;
	transition: 0.3s;
	opacity: 0;
	cursor: pointer;
}
@media (max-width: 884px) {
	.item-service__icon .item-service__phone {
		opacity: 1;
		height: 60px;
		width: 60px;
	}
}
@media (max-width: 670px) {
	.item-service__icon .item-service__phone {
		opacity: 0;
		height: 60px;
		width: 60px;
	}
}
.item-service__title {
	color: #242424;
	font-weight: 700;
	font-size: 24px;
	letter-spacing: 0.1px;
	line-height: 133%;
	z-index: 3;
	text-align: center;
}
.item-service__text {
	color: #737373;
	line-height: 142%;
	letter-spacing: 0.2px;
}
@media (max-width: 992px) {
	.services__body {
		flex-wrap: wrap;
		background-color: #eef1f474;
		padding: 10px;
		border-radius: 30px;
	}
}
/*-------ADVANTAGES------------------------------------------------------------------------------------*/

.advantages {
	padding: 80px 0;
}
@media (max-width: 992px) {
	.advantages {
		padding: 50px 0;
	}
}
@media (max-width: 767px) {
	.advantages {
		padding: 40px 0;
	}
}

.advantages__header {
	margin: 0px 0px 50px 0px;
}
@media (max-width: 767px) {
	.advantages__header {
		margin: 0px 0px 25px 0px;
	}
}

.advantages__body {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px -30px;
}
.advantages__column {
	padding: 0px 15px;
	margin: 0px 0px 30px 0px;
	flex: 0 1 25%;
}
@media (max-width: 1020px) {
	.advantages__column {
		flex: 0 1 50%;
	}
}
@media (max-width: 560px) {
	.advantages__column {
		flex: 0 1 100%;
	}
}

.advantages__item {
	background-color: #fff;
	padding: 30px 40px;
	text-align: center;
	font-weight: 700;
	height: 100%;
}
.advantages__item > *:not(:last-child) {
	margin: 0px 0px 10px 0px;
}
.advantages__icon {
	height: 48px;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.advantages__value {
	font-size: 40px;
	line-height: 142%;
	letter-spacing: 0.2px;
}
.advantages__text {
	color: #737373;
	font-size: 16px;
	line-height: 150%;
	letter-spacing: 0.1px;
}

.video__tour {
	margin-top: 70px;
	background-color: #e8e8e8cf;
	padding-top: 40px;
	padding-bottom: 100px;
}
.video__tour-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.video__tour-title {
	color: #2b2b2b;
	letter-spacing: 1px;
	padding: 0px 0px 57px 0px;
	font-size: 76px;
	font-weight: 700;
	line-height: 100%;
}
.video__tour-card {
	position: relative;
	max-width: 400px;
	background-color: #f2f2f2;
	border-radius: 30px;
	margin-left: 20px;
	overflow-y: scroll;
	-webkit-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
	box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.1);
	border: 2px solid;
}
.video__tour-card_content {
	position: relative;
	padding: 20px;
	text-align: center;
}
.video__card-title {
	font-size: 30px;
	color: #242424;
	font-weight: 500;
}
.video__card-info {
	padding-top: 20px;
	font-size: 30px;
	color: #737373;
}
@media (max-width: 1230px) {
	.video__tour-card {
		width: 400px;
	}
}

.iframe-tour {
	display: flex;
	width: 520px;
	height: 300px;
	border-radius: 30px;
	border: 4px solid rgb(6, 161, 6);
	color: #000;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.card-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

@media (max-width: 950px) {
	.card-content {
		flex-direction: column;
	}
	.iframe-tour {
		width: 400px;
		height: 250px;
	}
	.video__card-info {
		padding-top: 30px;
		font-size: 20px;
		color: #737373;
	}
	.video__tour-card {
		margin-left: 0px;
		margin-top: 20px;
		height: 250px;
		width: 500px;
	}
}
@media (max-width: 520px) {
	.iframe-tour {
		width: 320px;
		height: 250px;
	}
	.video__tour-card {
		margin-left: 0px;
		margin-top: 20px;
		height: 280px;
		width: 320px;
	}
}

@media (max-width: 992px) {
	.video__tour-title {
		text-align: center;
		font-size: 50px;
	}
}
/* @media(max-width:930px){

    .video__tour-card{

        display: flex;
        background-color: #f0f0f0;
        width: 900px;
        height: 400px;
        border-radius: 30px;
        
    }
    
    .iframe-tour{
        width: 50%;
        align-items: center;
        left: 25%;
        height: 100%;
        border-radius: 30px;
    }
} */
@media (max-width: 382px) {
	.video__tour-title {
		font-size: 40px;
	}
}

.scroll {
	position: absolute;
	top: 800%;
	background-color: #000;
	width: 30px;
	height: 30px;
}

.about {
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
}
.about-content {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.about-content__title {
	display: flex;
	flex-direction: column;
	font-family: 'Unbounded', sans-serif;
}
/* .about-card{
    border-radius: 30px;
    background-color: #ffffff;
    width: 100%;
    height: 500px;
    margin-top: 30px;
    margin-bottom: 40px;
    box-shadow: 1px 0px 41px -9px rgba(0,0,0,0.33);
-webkit-box-shadow: 1px 0px 41px -9px rgba(0,0,0,0.33);
-moz-box-shadow: 1px 0px 41px -9px rgba(0,0,0,0.33);

} */

.about-content__subtitle1 {
	color: #242424;
	font-size: 25px;
}
.about-content__subtitle2 {
	color: #242424;
	font-size: 30px;
	font-weight: 600;
	letter-spacing: 2px;
}
.about-content__title {
	display: flex;
	flex-direction: column;
}

.numbers-title {
	color: #242424;
	font-size: 50px;
	font-weight: 800;
	padding: 10px;
	font-family: 'Jura', sans-serif;
}
.numbers {
	padding-top: 15px;
	font-size: 25px;
	text-align: center;
}
.doyoulike {
	display: flex;
	flex-direction: column;
	padding-top: 50px;
	text-align: center;
}

.activies-title {
	margin-top: 60px;
	color: #242424;
	letter-spacing: 1px;
	padding: 0px 0px 20px 0px;
	font-size: 76px;
	font-weight: 700;
	line-height: 100%;
	font-family: 'Unbounded', sans-serif;
}
.activies-title__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0px 0px 57px 0px;
}

@media (max-width: 992px) {
	.activies-title {
		text-align: center;
		font-size: 50px;
	}
}
@media (max-width: 467px) {
	.activies-title {
		font-size: 40px;
	}
}
.activies-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.activies-card {
	display: inline-block;
	vertical-align: top;
	width: 270px;
	height: 100%;

	border-radius: 30px;

	transition: 0.5s;
	-webkit-box-shadow: 4px 4px 32px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 4px 4px 32px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 4px 4px 32px 0px rgba(0, 0, 0, 0.1);
}
.activies-card:not(:last-child) {
	margin-right: 20px;
}

.activies-card__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.activies-card__title {
	display: flex;
	color: #242424;
	background-color: #eef1f4;
	align-items: center;
	justify-content: center;
	padding: 13px;
	border-radius: 20px;
	width: 100%;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: 600;
	font-size: 17px;
}
.activies-card__img {
	width: 100%;
}
.activies-card__img img {
	margin-top: 10px;
	height: 250px;
	border-radius: 20px;
	width: 100%;
	object-fit: cover;
}

.activies-more {
	display: flex;
	color: rgb(0, 213, 0);
	font-size: 17px;
	text-decoration: none;
	transition: 0.2s;
	cursor: pointer;
	font-family: 'Unbounded', sans-serif;
}
.activies-more:hover {
	text-decoration-style: solid;
	color: #eef1f4;
	background-color: #242424;
}

/* .activies-content{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

} */

.services-card:not(:last-child) {
	margin-right: 75px;
}

@media (max-width: 1183px) {
	.activies-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.activies-cards {
		width: 100%;
		height: 100%;
		overflow: hidden;
		overflow-x: scroll;
		white-space: nowrap;
		background-color: #eef1f474;
		padding: 10px;
		border-radius: 30px;
	}

	.activies-card {
		display: inline-block;
		background-color: #fff;
		/* width: 250px;
        height: 350px; */
		vertical-align: top;
	}
}
.services-card a {
	text-decoration: none;
	position: absolute;
	z-index: 100;
	bottom: -20%;
	padding: 20px;
	background-color: #eef1f4;
	color: #242424;
	border-radius: 15px;
	transition: 0.2s;
}
.services-card a:hover {
	background-color: #242424;
	color: #eef1f4;
}
.about {
	margin-top: 135px;
}

@media (max-width: 1066px) {
	/* .services-card:not(:last-child){
            margin-right: 30px;
        } */
	.services-card a {
		bottom: 0;
		background-color: #ffffff;
		color: #000;
	}
	.services-cards {
		width: 100%;
		height: 100%;
		overflow: hidden;
		overflow-x: scroll;
		white-space: nowrap;
	}

	.services-card {
		display: inline-block;
		height: 370px;
		vertical-align: top;
	}
	.services-card:hover {
	}
	.about {
		margin-top: 60px;
	}
}

@media (max-width: 742px) {
	.services-card:not(:last-child) {
		margin-right: 55px;
	}
}

.sidenav {
	height: 100%; /* 100% Full-height */
	width: 0; /* 0 width - change this with JavaScript */
	position: fixed; /* Stay in place */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #242424; /* Black*/
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 60px; /* Place content 60px from the top */
	transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
	z-index: 100;
}

/* The navigation menu links */
.sidenav a {
	padding: 8px 8px 8px 0px;
	padding-top: 15px;
	text-decoration: none;
	font-size: 30px;
	color: #eef1f4;
	display: block;
	transition: 0.3s;
	font-family: 'Unbounded', sans-serif;
}
.sidenav span {
	text-decoration: none;
	font-size: 25px;
	color: #eef1f4;
	display: block;
	transition: 0.3s;
	text-align: center;
	font-size: 20px;
}
.sidenav-social__logos img {
	height: 50px;
	transition: 0.2s ease-in;
}
.sidenav-social__logos img:hover {
	transform: rotate(30deg);
}
.sidenav-social__logos {
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
	margin-right: 8px;
}

/* Position and style the close button (top right corner) */

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
	.sidenav {
		padding-top: 15px;
	}
	.sidenav a {
		font-size: 18px;
	}
}

.sidenav-number__content {
	padding-top: 50px;
}

.galery {
	background-color: #fff;
	padding-bottom: 40px;
}

.galery-title {
	margin-top: 60px;
	color: #2b2b2b;
	letter-spacing: 1px;
	padding: 0px 0px 20px 0px;
	font-size: 76px;
	font-weight: 700;
	line-height: 100%;
	font-family: 'Unbounded', sans-serif;
}

.galery-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media (max-width: 992px) {
	.galery-title {
		text-align: center;
		font-size: 50px;
	}
}
@media (max-width: 468px) {
	.galery-title {
		font-size: 40px;
	}
}

.galery-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.galery-photos img:not(:last-child) {
	margin-right: 10px;
}
.galery-photos img:hover {
	cursor: zoom-in;
	transform: scale(1.02);
}

.galery-more {
	align-items: center;
	justify-content: center;

	display: flex;
	color: rgb(0, 213, 0);
	font-size: 17px;
	text-decoration: none;
	transition: 0.2s;
	cursor: pointer;
	font-family: 'Unbounded', sans-serif;
}
.galery-more:hover {
	text-decoration-style: solid;
	color: #eef1f4;
	background-color: #242424;
}
.galery-title__content {
	margin-bottom: 57px;
}

@media (max-width: 1153px) {
	.galery-photos {
		width: 100%;
		height: 100%;
		overflow: hidden;
		overflow-x: scroll;
		white-space: nowrap;
	}

	.galery-photos img {
		display: inline-block;

		vertical-align: top;
	}
	.galery-photos {
		background-color: #eef1f474;
		padding: 10px;
		border-radius: 30px;
	}
}

.row > .column {
	padding: 0 8px;
}

.row:after {
	content: '';
	display: table;
	clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
	float: left;
	height: 50px;
}

/* The Modal (background) */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 50px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.928);
	z-index: 200;
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: auto;
	padding: 0;

	max-width: 570px;
	height: 100px;
}

/* The Close Button */
.close {
	color: white;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 50px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
	display: none;
}

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 140%;
	width: auto;
	color: #242424;
	padding: 20px 15px 20px 10px;
	margin-top: -50px;
	font-weight: 500;
	font-size: 25px;
	transition: 0.3s ease;
	user-select: none;
	-webkit-user-select: none;
	background-color: #eef1f4;
	border-radius: 0% 50% 50% 0%;
}

/* Position the "next button" to the right */
.next {
	right: 0;
	border-radius: 50% 0 0 50%;
	margin-left: 0px;
	padding: 20px 10px 20px 15px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
	background-color: #eef1f4b3;
}

/* Number text (1/3 etc) */
.numbertext {
	color: #242424;
	font-size: 17px;
	padding: 8px 15px;
	position: absolute;
	top: 0;
	font-weight: 500;
	background-color: #eef1f4;
	border-radius: 0px 0px 30px 0px;
}

/* Caption text */
.caption-container {
	text-align: center;

	color: white;
}

img.demo {
	opacity: 0.6;
}

.active,
.demo:hover {
	opacity: 1;
}

img.hover-shadow {
	transition: 0.3s;
}

.hover-shadow:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.footer {
	padding-top: 20px;
	background-color: #242424;
	padding-bottom: 20px;
}
.footer-content {
	display: flex;
	justify-content: center;
	max-width: 100%;
}
.footer-contacts {
	border-right: 1px solid #ffffff;
}
.footer-contacts__title {
	font-weight: 600;
	font-size: 25px;
}
.footer-contacts__number {
	color: #ffffff;
	padding-top: 10px;
	text-decoration: none;
}
.footer-contacts__number:hover {
	text-decoration: underline;
}
.footer-numbers {
	font-size: 23px;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	color: rgb(184, 184, 184);
}

.footer-adress {
	font-size: 23px;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	color: rgb(184, 184, 184);
}
.adress {
	padding-top: 10px;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	max-width: 400px;
}
.adress-link {
	padding-top: 10px;
	font-size: 17px;
	color: #fff;
	text-decoration: underline;
	margin-bottom: 30px;
}
.adress-link:hover {
	text-decoration: none;
}

.footer-email {
	color: #fff;
}
.footer-email:hover {
	text-decoration: none;
}

.footer-times__title {
	font-weight: 600;
	font-size: 25px;
	margin-bottom: 20px;
}
.footer-times {
	margin-left: 30px;
	font-size: 18px;
	border-right: 1px solid #ffffff;
	padding-right: 25px;
}
.footer-times span {
	font-weight: 600;
	font-size: 20px;
	color: #ffffff;
}
.first-time:not(:last-child) {
	padding-bottom: 10px;
}

.footer-social {
	margin-left: 30px;
}
.footer-social__title {
	font-weight: 600;
	font-size: 25px;
	margin-bottom: 20px;
}

.social-img img {
	height: 50px;
	transition: 0.2s ease-in;
}

.social-img img:hover {
	transform: rotate(30deg);
}

.social-img:not(:last-child) {
	margin-right: 15px;
}
.footer-link {
	display: flex;
	border-radius: 100px;
	padding: 20px 30px;
	background: #242424;
	border: 1px solid #eef1f4;
	color: #eef1f4;
	transition: all 0.3s ease 0s;
	font-weight: 600;
	font-size: 18px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	text-decoration: none;
}
.footer-link:not(:last-child) {
	margin-top: 40px;
}
.footer-link:hover {
	background-color: #eef1f4;
	color: #242424;
}

.link-phone {
	margin-top: 10px;
	color: #242424;
	background: #eef1f4;
}

.link-phone:hover {
	background-color: #242424;
	color: #eef1f4;
}

.down-footer {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 1px solid #ffffff;
	margin-top: 20px;
}
.down-footer_span {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 13px;
	color: #c5c5c5;
}

@media (max-width: 976px) {
	.footer-content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	.footer-contacts {
		max-width: 100%;
		border-right: 0px solid #c1c1c1;
	}
	.footer-times {
		border-top: 1px solid #c1c1c1;
		width: 100%;
		margin-top: 30px;
		padding-top: 30px;
		margin-left: 0px;
		border-right: 0px;
		padding-right: 0px;
	}
	.footer-social {
		margin-left: 0px;
		border-top: 1px solid #c1c1c1;
		width: 100%;
		margin-top: 30px;
		padding-top: 30px;
		margin-left: 0px;
		border-right: 0px;
		padding-right: 0px;
	}
}

.vkontakte {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-bottom: 60px;
}
.vkontakte-title {
	color: #242424;
}

.vkontakte-title {
	margin-top: 60px;
	color: #242424;
	letter-spacing: 1px;
	padding: 0px 0px 20px 0px;
	font-size: 60px;
	font-weight: 700;
	line-height: 100%;
}
@media (max-width: 992px) {
	.vkontakte-title {
		text-align: center;
		font-size: 50px;
	}
}
@media (max-width: 382px) {
	.vkontakte-title {
		font-size: 30px;
	}
}

.btn-up {
	/* фиксированное позиционирование */
	position: fixed;
	/* цвет фона */
	background-color: #242424;
	border: 1px solid #eef1f4;
	/* расстояние от правого края окна браузера */
	left: 20px;
	/* расстояние от нижнего края окна браузера */
	bottom: 0;
	/* скругление верхнего левого угла */
	border-top-left-radius: 8px;
	/* скругление верхнего правого угла */
	border-top-right-radius: 8px;
	/* вид курсора */
	cursor: pointer;
	/* отображение элемента как flex */
	display: flex;
	/* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
	align-items: center;
	/* выравниваем элементы внутри элемента по центру вдоль главной оси */
	justify-content: center;
	/* ширина элемента */
	width: 60px;
	/* высота элемента */
	height: 50px;
	z-index: 10;
}

.btn-up::before {
	content: '';
	width: 40px;
	height: 40px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
	display: none;
}

@media (hover: hover) and (pointer: fine) {
	.btn-up:hover {
		background-color: #512da8; /* цвет заднего фона при наведении */
	}
}

/* Страница с фотографиями */

.header-photo {
	background-color: #242424;
	background-image: url(./img/header/bg_01_photoaidcom_greyscale_negate.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position-y: 55%;
}

.back-buttons {
	color: #2b2b2b;
}
.back-buttons a {
	color: #f99e16;
}

.back-link {
	margin-top: 20px;
	color: #595959;
}

.block-body__mini {
	padding: 100px 0px 50px 0px;
	position: relative;
	z-index: 2;
	max-width: 1000px;
}

.block-body__mini > *:not(:last-child) {
	margin: 0px 0px 20px 0px;
}

.photos-title {
	color: #242424;
	font-size: 60px;
	font-weight: 700;
	font-family: 'Unbounded', sans-serif;
}

/*@media(max-width: 382px){*/

/*    .galery-title{*/
/*        font-size: 30px;*/
/*    }*/
/*    .photos-title{*/
/*        font-size: 30px;*/
/*    }*/
/*}*/

@media (max-width: 992px) {
	.logo-mini {
		font-size: 30px;

		font-weight: 800;
		padding-bottom: 10px;
	}
	.number-text__mini {
		text-align: left;
	}
	.galery-title {
		text-align: center;
		font-size: 50px;
	}
	.back-link {
		margin-top: 20px;
		text-align: center;
	}
	.photos-title {
		text-align: center;
		font-size: 45px;
	}
}
@media (max-width: 349px) {
	.photos-title {
		text-align: center;
		font-size: 35px;
	}
}
@media (max-width: 648px) {
	.logo-mini {
		position: relative;
		transform: translate(-50%, -50%);
		font-size: 25px;
		font-weight: 800;
	}
	.number-text__mini {
		text-align: center;
		font-weight: 500;
	}
}

.header__logo {
	margin-top: 20px;
}
.logo-mini img {
	margin-top: 10px;
	height: 100px;
	filter: invert(1);
}
@media (max-width: 586px) {
	.number__content-mini {
		position: absolute;
		top: 10%;
		left: 50%;
		transform: translate(-50%, -0%);
	}
}
@media (max-width: 479px) {
	.number__header-mini {
		display: block;
	}
	.number-text__mini {
		display: block;
		text-align: center;
		font-size: 18px;
	}
	.number-title__mini {
		display: none;
	}
}

.activies-cards__beauty {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	column-gap: 15px;
	row-gap: 30px;

	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.activies-card__beauty:not(:last-child) {
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
}
.photos-content__image img {
	height: 400px;
	width: 300px;
	object-fit: cover;
	border-radius: 30px;
	cursor: zoom-in;
	transition: 0.1s ease-in;
}
.photos-content__image img:hover {
	transform: scale(1.02);
}

.footer-mini {
	margin-top: 50px;
}

.photos-content__image {
	margin-top: 50px;
	justify-content: center;
	/*align-items:center;*/
	display: flex;
	flex-wrap: wrap;
	column-gap: 15px;
	row-gap: 30px;
	margin-left: 30px;
	margin-right: 30px;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.photos-content__image-entertainment img {
	border: none;
	width: 100%;
	height: 300px;
	cursor: default;
}
.photos-content__image-entertainment img:hover {
	transform: none;
}

.activies-card__entertainment:not(:last-child) {
	margin-right: 0px;
}

.activies-card__entertainment {
	width: 320px;
}

.card-price {
	color: #eef1f4;
	font-weight: 600;
	margin-top: 10px;
	background-color: #242424;
	padding: 12px 20px;
	border-radius: 10px 20px;
	text-align: center;
	font-family: 'Unbounded', sans-serif;
}
.card-subtitle {
	color: #737373;
	padding: 10px;
	font-family: jura;
	font-weight: 700;
}

.card-link__more {
	display: flex;
	color: #242424;
	font-size: 17px;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	cursor: pointer;
	margin-top: 10px;
	background-color: #eef1f4;
	padding: 10px 20px;
	border-radius: 10px;
	transition: 0.2s;
	font-family: 'Unbounded', sans-serif;
}
.card-link__more:hover {
	background-color: #242424;
	color: #eef1f4;
}
.activies-subtitle {
	text-align: center;
	font-weight: 400;
	color: #6a6a6a;
	font-family: 'Unbounded', sans-serif;
}

.activies-card__rooms {
	background-color: none;
}

.pluses-title {
	color: #242424;
	font-size: 40px;
	text-align: center;
}
.pluses-content {
	color: #242424;
	margin-top: 50px;
}
.ul-pluses {
	margin-top: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 20px;
	text-align: center;
}
.ul-pluses li {
	color: #333;
	margin-top: 20px;
	background-color: #7373732e;
	padding: 10px;
	border-radius: 30px;
}

.services-more_sub {
	border-radius: 30px;
	font-family: 'Unbounded', sans-serif;
}

.rooms-block__buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-left: 0px;
	color: #fff;
	margin-right: 0px;
}

.rooms-block__button_orange {
	background-color: #eef1f4;
	color: #242424;
	padding: 15px 20px;
	border-radius: 30px;
	text-decoration: none;
	margin-top: 10px;
	font-family: 'Unbounded', sans-serif;
	transition: 0.2s;
}
.rooms-block__button_orange:hover {
	background-color: #242424;
	color: #eef1f4;
}
.rooms-block__button_white {
	margin-top: 10px;
	color: #242424;
	background-color: #86efad00;
	padding: 15px 20px;
	border-radius: 30px;
	text-decoration: none;
	font-family: 'Unbounded', sans-serif;
	text-align: center;
	transition: 0.2s;
	border: 1px solid #242424;
}
.rooms-block__button_white:hover {
	background-color: #242424;
	color: #eef1f4;
}

.activies-child {
	padding-bottom: 50px;
}

.wh-right {
	position: fixed;
	bottom: 20px;
	right: 0;
	background-color: #4cb60a;
	color: #fff;
	text-decoration: none;
	padding: 15px 20px;
	z-index: 100;
	border-radius: 30px 0px 0px 30px;
}

.activies-tovari {
}

.activies-card-tovari {
	background-color: #fff;
}

.activies-card__title_tovari {
	background-color: #eef1f4;
}

.photos-title {
	margin-top: 20px;
}

.element-animation {
	top: 0px;
	opacity: 0;
	position: relative;
}
.element-animation.element-show {
	position: relative;

	opacity: 1;
	transition-duration: 1.2s;
}

.back-link a {
	background-color: #cecece5a;
	padding: 5px;
	border-radius: 5px;
}

.back-link span {
	background-color: #cecece5a;
	padding: 5px;
	border-radius: 5px;
}
.back-link a:hover {
	outline: 1px solid #242424; /* Ширина, вид и цвет рамки */
	outline-offset: 0px; /* Выводим рамку внутри элемента */
}

.mipred {
	display: inline-block;
	vertical-align: top;
	width: 270px;
	height: 100%;
	border-radius: 30px;

	transition: 0.5s;
}
.mipred-title {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #242424;
	background-color: #eef1f4;
	padding: 13px;
	border-radius: 20px;
	width: 100%;
	text-align: center;
	margin-left: 10px;
	margin-right: 10px;
	font-weight: 600;
	font-size: 17px;
}
.mipred-img img {
}
.swiper-tovari {
	border-radius: 37px;
}
.tovari-main img {
}
.span-about {
	font-family: 'Jura', sans-serif;
	font-weight: 700;
}
.like-sub {
	font-family: 'Unbounded', sans-serif;
}

/* From Uiverse.io by iZOXVL */

/* From Uiverse.io by iZOXVL */
@media (max-width: 781px) {
}
.page__services,
.activies-content {
	overflow: visible; /* Убедитесь, что содержимое не обрезается */
}
.more-btn {
	display: flex; /* Для выравнивания содержимого */
	align-items: center; /* Центрирование по вертикали */
	justify-content: center; /* Центрирование по горизонтали */
	height: 30px; /* Высота карточки */
	border-radius: 30px; /* Скругление углов */
	background-color: #242424; /* Фон кнопки */
	color: #eef1f4; /* Цвет текста */
	font-size: 20px; /* Размер текста */
	font-weight: 600; /* Жирность текста */
	transition: 0.3s ease; /* Плавный переход для hover */
	cursor: pointer; /* Указатель при наведении */
	box-shadow: 4px 4px 32px 0px rgba(0, 0, 0, 0.1); /* Тень */
	text-decoration: none;
}
.more-btn:hover {
	background-color: #eef1f4; /* Цвет фона при наведении */
	color: #242424; /* Цвет текста при наведении */
}

.more-text {
	text-align: center; /* Центрирование текста */
	margin: 0; /* Убираем отступы */
}
.center-more {
	padding-top: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hidden {
	opacity: 0;
	transform: translateY(50px); /* Сдвиг вниз */
	transition: all 0.6s ease-in-out; /* Плавный переход */
}

/* Появление элемента */
.visible {
	opacity: 1;
	transform: translateY(0); /* Возврат на место */
}

/* Загрузка экрана */
#loading-screen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #ffffff;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
}

.loader-content {
	text-align: center;
}

.loader-logo {
	width: 150px; /* Размер логотипа */
	margin-bottom: 20px;
}

.loader-bar {
	width: 200px;
	height: 10px;
	background: #ddd;
	border-radius: 5px;
	overflow: hidden;
	position: relative;
}

.loader-progress {
	width: 0;
	height: 100%;
	background: #242424;
	transition: width 0.3s;
}
.lazy {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.lazy.loaded {
	opacity: 1;
}
